.dashboard {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  width: 450px;
  min-height: 100vh;
  height: 100vh;

  display: flex;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.component {
  min-height: 100vh;
  width: calc(100% - 450px);
  padding: 0;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
  left: 450px;
}

/* Header Styles */
.header {
  width: 100%;
  height: 150px;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #f0f0f0;

  padding: 0 20px 0 20px;

  margin-bottom: 30px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.inventoryOverview {
  font-weight: 450;
  font-family: var(--ff-p);
  font-size: .7rem;
  color: #666;
  display: block;
}

.dashboardTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items: center;
}

.addUser,
.addSale {
  height: 40px;
  width: max-content;

  padding: 0.125rem 0.8rem;

  font-weight: bold;
  font-size: 0.875rem;
  font-family: var(--ff-p);

  color: black;
  cursor: pointer;

  transition: all 0.4s;

  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 7px;

  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
}

.addSale {
  font-weight: bold;
  font-size: 0.875rem;
  font-family: var(--ff-p);

  color: white;
  cursor: pointer;

  transition: all 0.4s;

  background-color: #3b82f6;
  border: none;
  border-radius: 7px;
}
  
.logoText,
.logo {
  font-weight: bold;
  font-size: 1.85rem;
  font-family: var(--ff-p);
  letter-spacing: -2px;
}

.logo {
  font-size: 1.25rem;
  color: #3b82f6;
}

.corusel {
  width: 100%;

  overflow: hidden;
  overflow-x: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;

  padding: 10px;
}

.card {
  width: 262px;
  min-width: 240px;
  min-height: 130px;
  height: 130px;

  border: 1px solid #e2e8f0;
  border-radius: 7px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: 5px;

  cursor: pointer;
  
  padding: 10px 10px 5px;
  transition: all .4s;
}

.icons {
  margin-bottom: 5px;

  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: var(--ff-p);

  color: black;
}

.h2 {
  font-size: 0.7rem;
  font-family: var(--ff-js);
  font-weight: 550;

  color: #808080;
}

.circle {
  height: 40px;
  width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all 0.2s;

  border-radius: 50%;
  background-color: #f0f0f0;
}

.recordSale {
  height: 45px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;

  border-radius: 7px;
  background-color: green;
}

.recordSale > p {
  font-family: var(--ff-p);
  font-size: 0.75rem;

  color: white;
}

.recordSale:active,
.circle:active {
  transform: scale(0.98);
}

.compared,
.comparedValue {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
  align-items: center;

  font-size: .65rem;
  font-weight: 700;
  font-family: var(--ff-p);
}

.comparedValue {
  position: relative;
  top: -9px;
}

.comparisonH1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    gap: 8px;

    width: max-content;
}

.consumed {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    align-items: center;
}

.consumed > span {
    font-weight: 700;
    font-size: .65rem;
    font-family: var(--ff-p);

    color: #217346;
}

.faint {
  width: 80px;
  height: 4px;

  border-radius: 10px;
  background-color: #98fb98;

  position: relative;
}

.fluid {
  height: 100%;
  width: 38%;

  background-color: #0bda51;
  border-radius: 10px;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.calendar {
  width: 350px;
}

.headerText {
  font-size: .9rem;
  font-family: var(--ff-p);
  font-weight: 450;
  
  color: #000;
  margin: 100px 0 30px;
}

.section {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  gap: 0;

  width: 100%;
  height: max-content;
  min-width: 630px;

  border: 1px solid #F0F0F0;
  border-radius: 5px;

  padding: 0 10px 10px;
  position: relative;

  margin-top: 30px;

  padding: 10px;
}

.sectionHeader {
  height: 60px;
  width: 100%;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 45px;

}

.labels {
  height: max-content;

  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;

  gap: 5px;

  width: 100%;
}

.doughnutAndLabelsContent {
  display: flex;
  flex-flow: column;
  gap: 45px;

  width: 100%;
  height: max-content;

  overflow-x: scroll;
  overflow-y: hidden;
}

.overview {
    border-radius: 7px;
    /* border: 1px solid var(--light-gray); */
    border: none;
  
    padding: 15px 15px;
  
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  
    height: 460px;
    width: 450px;
  
    position: relative;
}

.h2,
.title {
  font-size: 0.7rem;
  font-family: var(--ff-p);
  font-weight: 400;

  color: #808080;
}

.title {
  color: black;

  font-weight: 700;

  text-transform: capitalize;
  letter-spacing: 0.3px;

  width: max-content;
}

.doughnut {
  position: absolute;
  left: 171px;
  top: 239px;

  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

  align-items: center;
}

.doughnut > span {
  display: block;
  white-space: wrap;

  font-weight: 450;
  font-size: .75rem;
  font-family: var(--ff-p);
  
  color: black;

  position: relative;
  left: 37px;
  top: -20px;
}

.category,
.selectedCategory {
  display: flex;
  align-items: center;
  gap: 4px;

  width: max-content;
  width: 230px;
  height: 50px;

  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 5px 5px;

  transition: all 0.4s;
}

.category:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.selectedCategory {
  background-color: #f2f2f2;
}

.labelAndAmount {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
}

.avatar {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-color: #FAF9F6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-family: var(--ff-p);
  font-size: .7rem;
  font-weight: 500;

  color: #808080;
  width: max-content;
}

.amount {
  font-size: 0.7rem;
  font-family: var(--ff-p);
  color: black;

  font-weight: bold;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
  width: max-content;
}

.compared,
.comparedValue {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
  align-items: center;

  font-size: .7rem;
  font-weight: bold;
  font-family: var(--ff-p);

  color: var(--dull-red);
}

.comparedValue {
  position: relative;
  top: -9px;
}
