.component {
    min-height: 100vh;
    width: 100vw;
    padding: 2rem 1rem;

    display: flex;
    flex-flow: column nowrap;
}

/* Header Styles */
.header {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(229, 231, 235, 0.3);
    position: sticky;
    top: 0;
    z-index: 50;

    margin-bottom: 2rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
}

.addUser,
.addSale {
    height: 40px;
    width: max-content;

    padding: 0.125rem 0.8rem;

    font-weight: bold;
    font-size: 0.875rem;
    font-family: var(--ff-js);

    color: black;
    cursor: pointer;

    transition: all 0.4s;

    background-color: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 7px;

    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}

.addSale {
    font-weight: bold;
    font-size: 0.875rem;
    font-family: var(--ff-js);

    color: white;
    cursor: pointer;

    transition: all 0.4s;

    background-color: #3b82f6;
    border: none;
    border-radius: 7px;
}
  
.logoText,
.logo,
.inventoryOverview > p {
    font-weight: bold;
    font-size: 1.85rem;
    font-family: var(--ff-js);
    /* letter-spacing: -0.5px; */
}

.logo {
    font-size: 1.25rem;
    color: #3b82f6;
}

.inventoryOverview > p {
    font-size: 1.25rem;
    
}

.inventoryOverview {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-bottom: 0.75rem;
}

.corusel {
    width: 100%;

    overflow: hidden;
    overflow-x: hidden;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;

    padding-bottom: 10px;
}

.card {
    width: 262px;
    min-width: 240px;
    min-height: 130px;
    height: 130px;

    border: 1px solid #e2e8f0;
    border-radius: 7px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 5px;

    padding: 10px 10px 5px;
    transition: all .4s;
}

.icons {
    margin-bottom: 5px;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--ff-js);

    color: black;
}

.h2 {
    font-size: 0.7rem;
    font-family: var(--ff-js);
    font-weight: 550;

    color: #808080;
}

.h3 {
    font-size: .65rem;
    font-weight: 550;
    font-family: var(--ff-js);

    color: #808080;
}

.compared,
.comparedValue {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    align-items: center;

    font-size: .65rem;
    font-weight: 700;
    font-family: var(--ff-js);
}

.comparedValue {
    position: relative;
    top: -9px;
}

.comparisonH1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    gap: 8px;

    width: max-content;
}

.consumed {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    align-items: center;
}

.consumed > span {
    font-weight: 700;
    font-size: .65rem;
    font-family: var(--ff-js);

    color: #217346;
}

.faint {
    width: 80px;
    height: 4px;

    border-radius: 10px;
    background-color: #98fb98;

    position: relative;
}

.fluid {
    height: 100%;
    width: 38%;

    background-color: #0bda51;
    border-radius: 10px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
